*.pyc
*.xls
*.xlsx
*.csv
*.txt
*.zip
/log
http/content
/photos
/pyqt/gpxs
/t1
*.tar.gz
miniapp/static/
miniapp/__pycache__/

zx/build/
zx/__pycache__/
zx/dist
weixin/log/
.vscode
.gradle
node_modules
