*{
	font-family: "微軟正黑體",sans-serif;	
}


.wrapper-box{
    padding: 0;
    box-shadow: 0 0 5px #ccc;
    margin-left: auto!important;
    margin-right: auto!important;
    background: url(../img/backgroung.jpg) repeat;
}

.wrapper{
    background-color: #fff;
}

.container > .navbar-header{
    width: 25%;
}

.container > #bs-example-navbar-collapse-1{
	width: 75%;
}

.of-hidden{
    overflow: hidden;    
}

.sepline{
    width: 100%;
    border-bottom: 1px solid rgba(85,75,75,.0);
    box-shadow: 1px 1px 2px #ccc;
}

ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}

.navigation,
.navbar-nav{
	margin-top: 15px;
}

.navigation ul,
.navbar-nav{
	float: right;
	display: table;
	width: 60%;
}

.navigation ul li,
.navbar-nav li{
	display: table-cell;
}

.navigation ul li a,
.navbar-nav li a{
	display: block;
	text-align: center;
	font-size: 18px;
	line-height: 5px;
	border-bottom: 2px solid rgba(85,75,75,0);
	color: rgba(85,75,75,1);
	
	-webkit-transition: border-bottom 500ms ease;
	-moz-transition: border-bottom 500ms ease;
	-ms-transition: border-bottom 500ms ease;
	-o-transition: border-bottom 500ms ease;
	transition: border-bottom 500ms ease;
}

.navigation ul li a:hover,
.navigation ul li a:focus,
.navbar-nav li a:hover,
.navbar-nav li a:focus{
	color: rgba(85,75,75,1);
	border-bottom: 2px solid rgba(85,75,75,1);
}

h3{
    font-size: 18px;
}

.content{
    padding-top: 40px;
    padding-bottom: 40px;
}

.article p{
    font-size: 140%;
}

.article img{
	max-width: 750px;
}

.articles h2{
    font-size: 24px;
}

.artile-time{
	padding-left: 9px;
	color: rgba(85,75,75,1);	
}

.line{
    border-top: 1px solid #eee;
    width: 100%;
}

.margin20{
    margin: 20px 0px;
}

.footer{
    background-color: rgba(125,119,119,1);
}

.margin10{
    margin: 10px 0;
}

.margin20{
    margin: 20px 0;
}

.social-btn{
    margin: 10px 0;
}

.btn-facebook,
.btn-google,
.btn-twitter,
.btn-weibo,
.btn-linked,
.btn-line,
.btn-page{
    color: #ffffff;
    font-weight: bold;
}

.btn-facebook:hover,
.btn-google:hover,
.btn-twitter:hover,
.btn-weibo:hover,
.btn-linked:hover,
.btn-line:hover,
.btn-page:hover{
    color: #ffffff;
}

.btn-facebook,
.m-btn-facebook{
	color: #fff;
    background-color: #3a5795; 
    display: block;
	font-size: 24px;
	text-shadow: 1px 1px 2px #eee;  
}

.btn-google,
.m-btn-google{
	color: #fff;
    background-color: #ad280e; 
    display: block;
	font-size: 24px;
	text-shadow: 1px 1px 2px #eee;  
}

.btn-facebook:hover,
.btn-google:hover{
	text-shadow: 2px 2px 4px #eee;	
}

.m-btn-facebook,
.m-btn-google{
	position: relative;
}

.m-fb-share-count{
	  font-size: 14px;
	  position: absolute;
	  right: -2px;
	  top: -10px;
	  border-radius: 50%;
	  background-color: red;
}

.btn-google{
    background-color: #ad280e;   
}

.btn-twitter{
    background-color: #4cc7e6;   
}

.btn-weibo{
    background-color: #d42a2a;
}

.btn-linked{
    background-color: #0085ad;
}

.btn-line,
.m-btn-line{
	color: #fff;
    background-color: #29b610;
    display: block;
	font-size: 24px;
	text-shadow: 1px 1px 2px #eee; 
}

.btn-line:hover{
	text-shadow: 2px 2px 4px #eee;	
}

.btn-page{
    background-color: rgba(138,132,132,1);
}

.btn-page:hover{
	background-color: rgba(85,75,75,1);
}

.m-social-btn{
	display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
}

@media (max-width: 1200px) {
    .container > .navbar-header,
    .container > #bs-example-navbar-collapse-1{
	    width: 100%;
	}
}

@media (max-width: 990px) {
	.container{
		padding-left: 0;
		padding-right: 0;
	}

}

@media (min-width: 768px) {
    .navbar-brand{
        height: 75px;
    }
    
    
}

@media (max-width: 767px) {
    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
        
        background: rgba(85,75,75,1);
		background: -moz-linear-gradient(top, rgba(85,75,75,1) 0%, rgba(138,132,132,1) 45%, rgba(125,119,119,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(85,75,75,1)), color-stop(45%, rgba(138,132,132,1)), color-stop(100%, rgba(125,119,119,1)));
		background: -webkit-linear-gradient(top, rgba(85,75,75,1) 0%, rgba(138,132,132,1) 45%, rgba(125,119,119,1) 100%);
		background: -o-linear-gradient(top, rgba(85,75,75,1) 0%, rgba(138,132,132,1) 45%, rgba(125,119,119,1) 100%);
		background: -ms-linear-gradient(top, rgba(85,75,75,1) 0%, rgba(138,132,132,1) 45%, rgba(125,119,119,1) 100%);
		background: linear-gradient(to bottom, rgba(85,75,75,1) 0%, rgba(138,132,132,1) 45%, rgba(125,119,119,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7cd8', endColorstr='#fcecfc', GradientType=0 );
    }
    
    .row{
		margin-left: 0;
		margin-right: 0;
	}
	
	iframe{
		width: 100%;
	}
    
    .navigation, .navbar-nav {
		margin-top: 0;
	}
    
    .navigation ul,
	.navbar-nav{
		display: block;
		width: 100%;
	}

	.navigation ul li,
	.navbar-nav li{
		display: block;
	}
	
	.navbar-inverse .navbar-nav > li > a {
		line-height: 36px;
		text-align: left;
	}
    
    .container > .navbar-header{
        margin: 0;
    }
    
    .article img{
        width: 100% !important;
    }
    
    .article embed{
		width: 100% !important;	
	}
    
    .m-social-btn{
		display: block;
	}
    
    .m-btn-facebook{
	    width: 40%;
	    float: left;
	}
	
	.m-btn-google{
		width: 29%;
	    float: left;
	    margin-left: 1%;	
	}
	
	.m-btn-line{
		width: 29%;
	    float: left;
	    margin-left: 1%;
	}
	
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
		padding-left: 3px;
		padding-right: 3px;
	}

}

@media (max-width: 320px) {
	.m-ads{
		margin-left: -15px !important;
	}
}